body{
    background-color: #CADCFC;
    text-align: left;
}
head{
    background-color: rgb(164, 9, 9);
    text-align: center;
}
h1{
    text-align: center;
    text-size-adjust: 2em;
}


/* Navbar container */
.navbar {
    background-color: #03369b;
    overflow: hidden;
    width: 100%;              /* Decrease overall width */
    margin: 0 auto;          /* Center the navbar */
    border-radius: 0px;      /* Optional: rounded corners */
}


/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: #120303;
    text-align: center;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect */
.navbar a:hover {
    background-color: #360297;
    color: rgb(255, 255, 255);
}
